/* Navigation bar*/
.navBar {
	list-style-type: none; /*removes bullet points*/
	margin: 0;
	padding: 0;
	width: 20%;
	background-color: LightBlue;
	position: fixed;
	height: 100%;
	overflow: auto;
	border: 1px solid Black;
}

.liBar a {
	display: block; /* makes the link area clickable and allows you to specify the size of the block*/
	color: Black;
	/*width: 150px;*/
	padding: 8px 16px;
	text-decoration: none;
}

.liBar {
	text-align: center;
	border-bottom: 1px solid Black;
	
}

li a:hover:not(.active){
	background-color: SteelBlue;
	color: White;
	
}

li a.active {
	background-color: Gray;
	color: White;
	border: 1px solid Gray;
}

li: last-child{
	border-bottom: none;
}
/* end navigation bar*/

body{
	background-color: AntiqueWhite;
	margin: 0;
}

#page2{
	background-color: AntiqueWhite;
	margin-left: 20%;
	padding: 1px 16px;
	height: 100%;
	
	
}

h2{
	background-color: BurlyWood;
	text-align: center;
}
p{
	font-size: 20px;
}


.column{
	float: left;
	width: 20%;
	padding: 10px;
}
.column img{
	height: auto;
	width: 80%;
	cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}



